.container{
    overflow-x: auto;
    align-items: center;
}


#cabecalho {
    padding: 35px;
}

#icone {
    height: 35px;
    text-align: left;
    float: left;
}

#balao {
    height: 30px;
    text-align: right;
    float: right;
}

#coxinhadefrango{
    height: 234px;
}

#titulocoxinha{
    padding-left: 40px;
    font-size: 20px;
}

#serveumapessoa{
    padding-left: -30px;
    color: #808080;
    line-height: 0.5;
    font-size: 15px;
}

#legendacoxinha{
    padding-left: 40px;
    color: #808080;
    font-size: 10px;
    font-family: Arial;
    text-align: left;
}

#dochef{
    height: 30px;
    float: right;
    padding-right: 30px;
}

#oitoreais{
    padding-left: 40px;
    color: #E30613;
    text-decoration: underline;
    font-size: 13px;
}

#turbineseusalgado{
    padding-left: 40px;
}

.selection-container {
    width: 350px;
    height: 95x;
    margin-left: 35px;
    border: 2px solid #ccc;
    position: relative;
    overflow: hidden;
}

.texto1{
    color: #808080;
}

.titulo_item{
    padding-left: 20px;
    padding-top: 20px;
    line-height: 2px;
}

#cremosidade{
    padding-left: 20px;
    font-size: 12px;
    margin-bottom: 10px;
}

.check:checked{
    border: 2px solid #f00;
}

.algumcomentario{
    padding-left: 20px;
}

input[type="checkbox"]{
    border: 50px solid #f00;
    accent-color: #f00;
    
}