#cabecalho {
    padding: 35px;
}

#icone {
    width: 80px;
    text-align: left;
    float: left;
}

#balao {
    width: 40px;
    text-align: right;
    float: right;
}

#barra {
    float: left;
    padding: 10px;
}

#barra img {
    width: 55px;
    margin-right: 10px;
    margin-left: 10px;
}