#cabecalho {
    padding: 35px;
}

#icone {
    width: 80px;
    text-align: left;
    float: left;
}

#balao {
    width: 40px;
    text-align: right;
    float: right;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container do menu */
.menu-container {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
    scrollbar-width: none;
}

.menu-container::-webkit-scrollbar {
    display: none;
}

/* Itens do menu */
.menu-item {
    display: inline-block;
    padding: 10px 13px;
    /* Espaçamento interno dos itens */
    color: #808080;
    /* Cor do texto */
    text-decoration: none;
    margin-right: 5px;
    /* Espaço entre os itens */
    border-radius: 4px;
}

img {
    height: 45px;
}