
#cabecalho {
    padding: 35px;
}

#icone {
    height: 35px;
    text-align: left;
    float: left;
}

#balao {
    height: 30px;
    text-align: right;
    float: right;
}

#salgados{
    height: 156px;
}

#do_chefe{
    height: 55px;
    margin-left: 30px;
}

#salgado_chef{
    margin-left: 15px;
    line-height: 5px;
}

#link{
    margin-left: 107px;
    margin-top: -15px;
}

#cor_link{
    color: red;
}

#preco{
    margin-left: 15px;
    font-size: 12px;
    float: right;
    margin-top: -37px;
    margin-right: 80px;
    color: gray;
}

#div_opcao{
    border:3px solid gray;
    opacity: 0.5;
    width: fit-content;
    margin-left: 38px;
    padding: 8px;
}

#div_opcao select{
    border: none;
}

#div_opcao img{
    width: 35px;
    vertical-align: top;
}

#opcao{
    height: 30px;
    width: 132px;
    color: #808080;
    font-weight: bold;
    opacity: 0.5;
    size: 50px;
    text-align: center;
}

.selection-container{
    height: 57px;
    width: 108px;
    position: relative;
    overflow: hidden;
    color: #808080;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 3px;
    font-size: 11px;
    border: 3px #808080 solid;
    float: right;
    margin-top: -56px;
    margin-right: 56px;
    opacity: 0.5;
}

#destaque{
    margin-left: 38px;
}

#imagem_coxinha{
    margin-left: 75px;
}


