
#cabecalho {
    padding: 35px;
}

#icone {
    height: 35px;
    text-align: left;
    float: left;
}

#balao {
    height: 30px;
    text-align: right;
    float: right;
}

#salgados{
    height: 156px;
}

#do_chefe{
    height: 55px;
    margin-left: 30px;
}

#salgado_chef{
    margin-left: 15px;
    line-height: 5px;
}

#link{
    margin-left: 107px;
    margin-top: -15px;
}

#cor_link{
    color: red;
}

#preco{
    margin-left: 15px;
    font-size: 12px;
    float: right;
    margin-top: -37px;
    margin-right: 80px;
    color: gray;
}

#div_opcao{
    border:3px solid #e6e6e6;
    width: fit-content;
    margin-left: 38px;
    padding: 8px;
}

#div_opcao select{
    border: none;
}

#div_opcao img{
    width: 35px;
    vertical-align: top;
}

#opcao{
    height: 30px;
    width: 132px;
    color: gray;
    font-weight: bold;
    size: 50px;
    text-align: center;
}

.selection-container{
    height: 57px;
    width: 108px;
    position: relative;
    overflow: hidden;
    color: gray;
    font-weight: bold;
    padding-top: 9px;
    padding-left: 3px;
    font-size: 11px;
    border: 3px #e6e6e6 solid;
    float: right;
    margin-top: -56px;
    margin-right: 56px;
}

#destaque{
    margin-left: 38px;
}

.rolagem{
    overflow-x: auto;
    white-space: nowrap;
    height: min-content;
    box-sizing: border-box;
    scrollbar-width: none;
}


#div_coxinha{
    border: 2px #e6e6e6 solid;
    height: 200px;
    width: 194px;

}

.coxinha{
    margin-left: 40px;
}

#texto_coxinha{
    padding-left: 3px;
    color: #808080;
    font-weight: bold;
    font-size: 18px;
}

#div_coxinha_dois{
    border: 2px #e6e6e6 solid;
    height: 200px;
}

.coxinha_2{
    margin-left: 270px;
    width: 194px;
    margin-top: -200px;
    margin-right: 10px;
}

.letra_salgado{
    font-weight: bold;
    padding-left: 3px;
}


#texto_empada{
    padding-left: 3px;
    color: #808080;
    font-weight: bold;
    font-size: 18px;
}

#linha{
    width: 330px;
    height: 2px;
    border: 0px;
    border-top: 1px solid #808080;
    background-color: #808080;
    margin-left: 40px;
    border-radius: 5px;
}

#combao_img{
    height: 75px;
    width: 75px;
    margin-bottom: -40px;
    margin-left: 50px;
}